.App {
  text-align: center;
  margin-top: 10%;
  background-color: black;
  color: aliceblue;
  margin: auto;
  padding: 5px;
  font-size: large;
  
}
.content{
  background-color: rgb(223, 225, 226);
  padding: 15px 15px 15px 15px;
   width: 250px;
  margin: auto;
  border-radius: 5px;
}
.jour,.heure{
  text-transform:uppercase;
  font-weight: 900;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.periode{
  text-transform: uppercase;
}
span{
  display: block;
 
}

