body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #08088A;
}
.App {
  text-align: center;
  margin-top: 10%;
  background-color: black;
  color: aliceblue;
  margin: auto;
  padding: 5px;
  font-size: large;
  
}
.content{
  background-color: rgb(223, 225, 226);
  padding: 15px 15px 15px 15px;
   
  margin: auto;
  border-radius: 5px;
}
.jour,.heure{
  text-transform:uppercase;
  font-weight: 900;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.periode{
  text-transform: uppercase;
}
span{
  display: block;
 
}
